body {
  background-color:  rgba(245, 251, 254, 0.242);
  font-family: 'Neucha', cursive;
}
.container {
  display: flex;
  justify-content: center;
}

.centerName{
  color: #1e7409;
  text-align: center;
  letter-spacing: 2px;
  font-size: 33px;
  text-shadow: 5px 2px #65a75581;
}
 
h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #032333;
}
 
h2 {
  font-size: 22px;
  letter-spacing: 2px;
  color: #032333
}
 
button {
  background:   rgba(245, 251, 254, 0.242);
  border: none;
  font-size: 25px;
  color: #1e7409;
  padding: 20px;
  margin-top: 1px;
   font-family: 'Neucha', cursive;
}

.btn{
padding: 0px;
font-size: 20px;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 18px;
  }
     
  h2 {
    font-size: 15px;
  }

  button{
    font-size: 15px;
  }

  .btn{
    font-size: 12px;
  }

  img{
    width: 350px;
    height: 250px;
  }

  .centerName{
    font-size: 20px;
  }

}
  

